<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection"
			 connectionString="server=103.200.23.139;port=3306;database=taphoagi_store_web;user=taphoagi_admin;password=Daoanhtu020996@@#;CharSet=utf8mb4;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>